
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', Arial, sans-serif;
}

.lock {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background: black;
}

.header_box {
    background: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.logo {
    width: 183.75px;
    height: 35px;

}

.icons img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.icons {
    column-gap: 50px;
    margin-right: 40px;
}

.icons img:nth-child(2) {
    margin: 0px 10px;
}


.burger_btn {
    width: 28px;
    height: 3px;
    background: white;
    position: relative;
    cursor: pointer;
}

.burger_btn::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: white;
    top: -8px;
    cursor: pointer;
}

.burger_btn::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: white;
    top: 8px;
    cursor: pointer;
}

.burger_btn.active {
    background: none;
    cursor: pointer;
}

.burger_btn.active::after {
    transform: rotate(-45deg);
    top: 0;
    cursor: pointer;

}

.burger_btn.active::before {
    transform: rotate(45deg);
    top: 0;  
    cursor: pointer;
    top: 0;

}

.header_left {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
}

.burger.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 416px;
    background-color: black;
    position: absolute;
    right: 0;
    width: 100%;
    color: white;
    top: 80px;
    padding: 30px 20px;
}

.burger_icons {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    column-gap: 10px;


}

.burger_icons img {
    width: 30px;
    height: 30px;
}

.burger ul {
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 5px 0 55px;
    list-style-type: none;

}

.search_form.search_active{
    position: absolute;
    width: 100%;
    height: 150px;
    padding: 45px 0;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.korzina_from{
    display: none;
}

.korzina_from.korzina_active{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 111%;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    left: 0;
    top: 0;
    /* right: 0;
    bottom: 0; */
}
.korzina_box{
    width: 560px;
    /* height: 833px; */
    background: white;
    /* position: absolute; */
    padding: 40px;
    margin: 80px auto;
    overflow-y: auto;
    
}

.close_btn{
    width: 43px;
    height: 43px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.korzina_box h5{
    font-size: 22px;
    padding: 0px 0px 30px;
}

.first_name{
    font-size: 16px;
    padding: 0 10px 5px 0;
    display: block;
}
.korzina_first_p{
    font-weight: 600;
    color: #000000;
    margin-bottom: 40px;
}

.korzina_box input{
    border: 1px solid black;
    border-radius: 30px;
    padding: 0 20px;
    width: 100%;
    height: 56px;
    outline: none;
    font-size: 16px;
    margin-bottom: 30px;
}

.korzina_box select{
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    padding: 0 45px 0 20px;
    height: 56px;
    line-height: 1.33;
    outline: 0;
    background: white;
    font-size: 16px;
}

.korzina_box .last_p{
    font-weight: 700;
    margin: 20px 0;
}

.korzina_box ul li{
    font-size: 14px;
    font-style: italic;

}

.korzina_box button{
    width: 100%;
    height: 56px;
    border-radius: 30px;
    background-color: black;
    color: white;
    outline: none;
    margin: 30px 0 0px;
    border: none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 700;
}
.search_form{
    display: none;
}

.block_input{
    width: 760px;
    height: 60px;
    border: 1px solid rgba(196,196,196,1);
    padding-right: 15px;
    display: flex;
    position: relative;

}
.search_input{
  padding: 0px 55px;
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
}

.form_search-icon{
    position: absolute;
    left: 0;
    margin: auto 0;
    top: 2px;
    bottom: 0;
    padding-right: 5px;
    padding-left: 5px;
    width: 45px;
}

.clear_button{
    cursor: pointer;
}

.burger ul li{
    margin: 0 0 20px;
}


.banner {
    background: url("image/headpnes.png")center/cover no-repeat;
    height: 100vh;
}

.first_sec h1 {
    padding: 24px 0 24px 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 72px;
    line-height: 1.17;
    font-weight: 600;
    text-align: center;
    margin-top: 160px;
}

.first_sec {
    padding-top: 52px;
    padding-bottom: 42px;


}

.first_sec p {
    font-size: 22px;
    padding: 15px 0 30px 0;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.call_btns {
    margin: 45px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.call_btns button:first-child {
    background: black;
    width: 225px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    outline: none;
    padding: 0px 60px;
    color: #fff;
}

.call_btns button:last-child {
    background-color: black;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    outline: none;
    width: 294px;
    height: 60px;
    padding: 0px 60px;
    color: #fff;
}

/* Вторая секция */

.two {
    background: black;
    color: white;
    padding: 7px 0 17px;
    text-align: center;
}
.two__icon p {
    margin-top: 30px ;
    padding-bottom: 20px;
}
.two__icon h5 {
    font-size: 18px;
    margin-top: 30px ;
}
.two__icon img {
    margin-top: 40px ;
}

.two__text p {
    font-size: 28px;
    padding-top: 50px;
    font-weight: 400px;
    text-align: center;
}

.two__text h4 {
    text-align: center;
    font-size: 39px;
    margin-top: 80px;
    margin-bottom: 30px;
}

.two__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    background-color: #111;
    padding-top: 100px;
}

.category h2 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.search {
    display: flex;
    column-gap: 50px;
    position: relative;
}

.search select {
    width: 450px;
    height: 30px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #111111;

}

.category__search {
    width: 20px;
    height: 18px;
    position: absolute;
    right: 288px;
    bottom: 155px;
    border-left: none;


}


.category input {
    width: 400px;
    height: 30px;
    margin-left: 60%;
    margin-top: 50px;
    margin-bottom: 150px;
    border: none ;
    border-radius: 5px;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.category__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 100px;
    text-align: center;
    margin-bottom: 150px;
}

.category__img__one img {
    width: 400px;
    height: 400px;
}

.category__img__one h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__one p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.category__img__two img {
    width: 400px;
    height: 400px;
}

.category__img__two h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__two p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}


.category__img__three img {
    width: 400px;
    height: 400px;
}

.category__img__three h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__three p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.category__img__middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 100px;
    text-align: center;
    margin-bottom: 150px;
}

.category__img__four img {
    width: 400px;
    height: 400px;
}

.category__img__four h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__four p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}


.category__img__five img {
    width: 400px;
    height: 400px;
}

.category__img__five h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__five p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}


.category__img__six img {
    width: 400px;
    height: 400px;
}

.category__img__six h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__six p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.category__img__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 100px;
    text-align: center;
    padding-bottom: 150px;
}

.category__img__seven img {
    width: 400px;
    height: 400px;
}

.category__img__seven h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__seven p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}



.category__img__eight img {
    width: 400px;
    height: 400px;
}

.category__img__eight h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__eight p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}


.category__img__nine img {
    width: 400px;
    height: 400px;
}

.category__img__nine h4 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.category__img__nine p {
    color: #ffffff80;
    font-size: 15px;
}

.category h5 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.category del {
    color: red;
    font-size: 20px;
    margin-top: 20px;
}

.category__price {
    display: flex;
    column-gap: 30px;
}

.category__favorite img {
    width: 40px;
    height: 40px;
    display: block;
    background: none;
    padding: 0;
    cursor: pointer;
    margin-left: 85%;
    margin-bottom: 30px;
    border: none;
}
.footer {
    background-color: #000000;
    padding-top: 100px;
}
.footer_info {
    color: #fff;
}
.order {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.footer_about {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 30px;
}
.rule {
    margin-left: 900px;
    text-align: center;
    color: #5f5f5f;
}
.footer_what {
    display: flex;
    align-items: center;
}



